<div class="header">
    <app-logo class="header-logo" [favicon]="logo"></app-logo>
    <nav>
        <ul class="nav-wrapper" *ngIf="navItems">
            <ng-container *ngFor="let navItem of navItems">
                <li class="nav-item" *ngIf="navItem.enabled">
                    <a
                        [routerLink]="navItem.url" 
                        [ngClass]="{'disabled': !navItem.url}"
                    >
                        {{ navItem.title }}
                    </a>
                </li>
            </ng-container>
            <li *ngIf="!isLoggedIn else showLogOut">
                <button
                    type="button"
                    class="login-button"
                    [routerLink]="['/auth/login']"
                >Login</button>
            </li>
            <ng-template #showLogOut>
                <button
                    type="button"
                    class="login-button"
                    (click)="logoutClick()"
                >Logout</button>
            </ng-template>
        </ul>
    </nav>
</div>

