<div class="Users">
    <h2>Users List</h2>
    <input type="text" [(ngModel)]="searchInput" />
    <button (click)="clearSearchInput()">Clear</button>
    <button (click)="search()">Search</button>
    <div  class="users-table">
        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Website</th>
                <th>Address</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of users$ | async" (click)="navigateToUser(user.id)">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.company.name }}</td>
                    <td>{{ user.website }}</td>
                    <td>{{ user.address?.city+ ", St. " + user.address?.street + ", " + user.address?.suite}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>