:host {
    display:flex;
    flex-direction: column;
}

.main {
    max-height: calc(100vh - 67px);
    overflow: hidden;
    display: flex;
}

app-sidenav {
    flex: 0 1 250px;
}

.content {
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}