$black: #000100;
$primary: #a1a6b4;
$secondary: #94c5cc;
$light: #b4d2e7;
$white: #f8f8f8;

.sidenav-wrapper {
    height: calc(100vh - 65px);
    background-color: #fff;
    padding: 0 .8rem;

    .sidenav-header {
        padding: .6rem 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid lightgrey;

        .sidenav-avatar {
            border-radius: 50%;
        }

        .sidenav-name {
            font-size: 1.1rem;
        }
    }

    .sidenav-content {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 125px);

        ul{
            list-style: none;
            padding: 0 .4rem;

            .sidenav-item {
                padding: .2rem .4rem;
                line-height: 30px;
                font-size: 1.3rem;
                color: $primary;
                font-weight: 500;

                a {
                    text-decoration: none;
                    color: rgba(0,0,0,.87);
                    transition-duration: 300ms;

                    &.disabled {
                        color: gray;
                        pointer-events: none;
                    }

                    &:hover {
                        padding-left: .4rem;
                    }
                }
            }
        }
    }

    .sidenav-footer {
        display: block;
        bottom: 0rem;

        button {
            width: 100%;
            border: none;
            font-size: 18px;
            font-weight: 500;
            padding: .6rem;
            background-color: $secondary;
            color: $white;
            cursor: pointer;

            -webkit-box-shadow: 0px 2px 30px 0px rgba(206,220,222,1);
            -moz-box-shadow: 0px 2px 30px 0px rgba(206,220,222,1);
            box-shadow: 0px 2px 30px 0px rgba(206,220,222,1);   

            transition-duration: 300ms;
            
            &:hover{
                padding: .8rem;
            }
        }
    }
}