<div class="sidenav-wrapper">
    <!-- 
    <div class="sidenav-header">
        <img class="sidenav-avatar" src="../../assets/favicon.ico" alt="avatar" height="84" width="84"/>
        <h3 class="sidenav-name">Assem</h3>
    </div>
    -->
    <div class="sidenav-content">
        <ul *ngIf="navItems">
            <ng-container *ngFor="let navItem of navItems">
                <li class="sidenav-item" *ngIf="navItem.enabled">
                    <a
                        [routerLink]="navItem.url"
                        [ngClass]="{'disabled': !navItem.url}"
                    >
                        {{navItem.title}}
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>

    <div class="sidenav-footer">
        <button
            *ngIf="!isLoggedIn else showLogOut"
            type="button"
            class="login-button"
            [routerLink]="['/auth/login']"
        >Login</button>
        <ng-template #showLogOut>
            <button
                type="button"
                class="login-button"
                (click)="logoutClick()"
            >Logout</button>
        </ng-template>
    </div>
</div>

