$black: #000100;
$primary: #a1a6b4;
$secondary: #94c5cc;
$light: #b4d2e7;
$white: #f8f8f8;

.user-info {
    padding: 4rem;

    a{
        padding-left: 1rem;
        text-decoration: none;
        color: $primary;
        font-weight: 600;
    }
}

h1 {
    padding-left: 1rem;
}

th, tr {
    padding: 1rem .8rem;
}

th {
    min-width: 200px;
    text-align: left;
}