<div class="user-info">
    <a [routerLink]="['/users']">&#60; BACK</a>
    <ng-container *ngIf="user">
        <h1>{{ user.name | uppercase}}</h1>
        <div class="user-into-table">
            <table>
                <tr>
                    <th>Username:</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ user.email | lowercase }}</td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>{{ user.phone }}</td>
                </tr>
                <tr>
                    <th>Website:</th>
                    <td>{{ user.website }}</td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>{{ user.address | concatFields:'city':'street':'suite'}}</td>
                </tr>
                <tr>
                    <th>Company Name:</th>
                    <td>{{ user.company | concatFields:'name' }}</td>
                </tr>
                <a [routerLink]="['/users/form/', user.id]">Edit</a>
            </table>
        </div>
    </ng-container>
</div>
